 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于我</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Web前端开发者一枚，喜欢JS，特别是原生JS，有轻微代码洁癖，喜欢钻研新鲜的小玩意，喜欢和人合作开发许多小东西，对于如何提升用户体验很有兴趣</p>
                </div>
                <div class="col-lg-4">
                    <p>喜欢科幻电影，特别是好莱坞的电影，热爱篮球，喜欢音乐，另外，吃货一枚。</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download PDF
                    </a>
                </div>
            </div>
        </div>
    </section>
